{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Info</title>
    <link rel="stylesheet" href="{% static 'styles\mystyle.css' %}">
</head>
<body>
    <header>
        {%include 'nav.html'%}
    </header>
    <main>
        <h1 align = "center">Employee Not found</h1>
    </main>
    <script src="{% static 'javascript\myscripts.js' %}"></script>
</body>
</html>